<ion-view title="Home" id="page7">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/WamN7jfURF2lYUY1tOTR_light_color_backgroud.jpg) no-repeat center;" scroll="false" class="has-header">
        <form class="list">
            <ion-item class="item-thumbnail-left">
                <img src="img/QlsImvTWThSuXlaFiNBC_letter_m.jpg">
                <h2>Welcome</h2>
                <p>User</p>
            </ion-item>
        </form>
        <form class="list"></form>
        <div class="button-bar"></div>
        <ion-list></ion-list>
        <div class="button-bar"></div>
        <ion-list></ion-list>
        <div class="button-bar">
            <button id="home-button13" style="color:#6FAAA7;font-size:-1px;text-align:left;border-radius:-3px -3px -3px -3px;" class="button button-assertive button-large button-block button-outline">Topup</button>
            <button id="home-button14" class="button button-positive  button-block button-outline">Bill pay</button>
            <button id="home-button15" class="button button-balanced  button-block button-outline">voucher</button>
        </div>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>