<ion-view title="Login" id="page1" style="background-color:#DEF1F0;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/13ByVCNIT2I0UjdGLRMs_letter_m.jpg" width="50%" height="100">
        </div>
        <form class="list">
            <ion-list></ion-list>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
            <a ui-sref="menu.home" id="login-button1" class="button button-balanced  button-block">Log in</a>
            <a ui-sref="menu.registerAccount" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>